### system-wide
NODE_ENV=development

# global
HOST=localhost

# web
FRONTEND_PORT=3001
PUBLIC_ORIGIN=http://${HOST}:${FRONTEND_PORT}

# api-server
PORT=3000
API_ORIGIN=http://${HOST}:${PORT}
API_BASE_URL=${API_ORIGIN}/api

# App
BRAND_NAME=PeerNest
ENABLE_GLOBAL_ERROR_LOGGING=true

### database
# PostgresSQL
PG_DATABASE_PROTOCOL=
PG_DATABASE_USER=
PG_DATABASE_PASSWORD=
PG_DATABASE_HOST= 
PG_DATABASE_PORT=
PG_DATABASE_NAME=
PG_DATABASE_URL=${PG_DATABASE_PROTOCOL}://${PG_DATABASE_USER}:${PG_DATABASE_PASSWORD}@${PG_DATABASE_HOST}:${PG_DATABASE_PORT}/${PG_DATABASE_NAME}
PG_SSL_ENABLED=false

### auth
GENERAL_TOKEN_EXPIRES_IN=5m
SOCIAL_AUTH_PROVIDERS=google

# google oauth
BACKEND_GOOGLE_CLIENT_ID=
BACKEND_GOOGLE_CLIENT_SECRET=
BACKEND_GOOGLE_CALLBACK_URL=${API_BASE_URL}/auth/google/callback

# JWT Auth
AUTH_JWT_ACCESS_SECRET=
AUTH_JWT_ACCESS_EXPIRES_IN=1d


### storage
# general
BACKEND_STORAGE_PROVIDER=
BACKEND_STORAGE_PUBLIC_BUCKET=
BACKEND_STORAGE_PRIVATE_BUCKET=
BACKEND_STORAGE_TOKEN_EXPIRE_IN=5m
BACKEND_STORAGE_URL_EXPIRE_IN=5m

# aws s3
BACKEND_STORAGE_S3_REGION=
BACKEND_STORAGE_S3_ENDPOINT=
BACKEND_STORAGE_S3_ACCESS_KEY=
BACKEND_STORAGE_S3_SECRET_KEY=
BACKEND_STORAGE_S3_PUBLIC_BASE_URL=https://${BACKEND_STORAGE_PUBLIC_BUCKET}.s3.${BACKEND_STORAGE_S3_REGION}.amazonaws.com
BACKEND_STORAGE_S3_PRIVATE_BASE_URL=https://${BACKEND_STORAGE_PRIVATE_BUCKET}.s3.${BACKEND_STORAGE_S3_REGION}.amazonaws.com

### mail service provider
# aws ses
BACKEND_MAIL_HOST=
BACKEND_MAIL_PORT=
BACKEND_MAIL_SECURE=
BACKEND_MAIL_SENDER=
BACKEND_MAIL_SENDER_NAME=
BACKEND_MAIL_AUTH_USER=
BACKEND_MAIL_AUTH_PASS=

### client
# vite
VITE_MODE=${NODE_ENV}
VITE_HOST=${HOST}
VITE_API_ORIGIN=${API_ORIGIN}
VITE_API_BASE_URL=${API_BASE_URL}
VITE_FRONTEND_PORT=${FRONTEND_PORT}
VITE_PUBLIC_ORIGIN=${PUBLIC_ORIGIN}
VITE_BRAND_NAME=${BRAND_NAME}